.card{
  width: 950px;
  padding: 55px;
  margin: 20px;
  background-color: rgb(238, 237, 237);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.image{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

table.c {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: auto;
  width: 100%;  
}

.table_dashbord {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}
:hover.table_head{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

:hover.table_body{
  background-color: rgb(0, 234, 255); 
  color: rgb(0, 0, 0);
}

.form_dashbord{
  padding: 25%;
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}



table {
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navbar{
  background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register{
  max-width: 978px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: white;
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
.regestration_img{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

@media screen and (min-width: 880px)  {
  .register .col-2 img{
    display: initial;
  }
}
.card2{
  width: 955px;
  padding: 50px;
  margin: 20px;
  background-color: rgb(238, 237, 237);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.error{
  color: red;
}